

.response-management-container {
    padding: 20px;
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f9;
}

h1, h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: center; 
}

input[type="text"], textarea, input[type="date"] {
    width: calc(100% - 22px); 
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="text"]:focus, textarea:focus, input[type="date"]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
}



.table-container {
    margin-bottom: 20px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #007bff;
    color: white;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

button.edit-button {
    background-color: #28a745;
}

button.delete-button {
    background-color: #dc3545;
}

button.edit-button:hover {
    background-color: #218838;
}

button.delete-button:hover {
    background-color: #c82333;
}
.input-container, .form-container {
    max-width: 800px;
    width: 100%; 
    margin: 20px auto; 
    padding: 20px;
    background-color: #fff; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}